.App {
    width: 100vw;
    height: 100vh;
    // background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap');
#global-logo {
    font-size: 4rem;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-family: 'Playfair Display', serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-left: 1px solid white;
}
.MuiSvgIcon-root {
    font-size: 1rem;
}
