#modal-parent {
    width: 100%;
    height: 100%;
    #file-names {
        max-height: 10rem;
        overflow-y: auto;
        margin-top: 1rem;
        button {
            width: 100%;
            margin-top: 1rem;
            &:first-child {
                margin-top: 0rem;
            }
        }
    }
}
